

/* Estilos para el header */
body {
    margin: 0;
    padding: 0;
}

/*  ##### hEADER #### */
.header {
    background-color: #333;
    color: white;
    padding: 1rem;
}

.nav {
    text-align: center;
}

.nav-list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

/* LINKS */
.nav-link {
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
}

.nav-link:hover {
    background-color: #555;
}

/*////////////*/

/* Footer */
.footer {
    background-color: #333;
    color: white;
    padding: 1rem;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.footer-links {
    display: flex;
    flex-direction: row;
    list-style: none;
}

.footer-item {
    margin-right: 1rem;
}

.footer-link {
    color: white;
    text-decoration: none;
}

/* Product Card */
.product-card {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 1rem;
    margin: 1rem;
}

.product-image {
    width: 100%;
    height: auto;
}

.product-name {
    font-size: 1.2rem;
    font-weight: bold;
}

.product-description {
    margin-top: 0.5rem;
}

.product-price {
    color: #e44d26;
}

/* Product Detail */
.product-detail {
    padding: 1rem;
}

.product-detail .product-image {
    width: 300px;
    height: auto;
}

.product-detail .product-name {
    font-size: 2rem;
}

.product-detail .product-description,
.product-detail .product-price,
.product-detail .product-stock,
.product-detail .product-category {
    margin-top: 1rem;
}

.add-to-cart {
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.add-to-cart:hover {
    background-color: #0056b3;
}



.greenColor {
    color: forestgreen;
}